 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400;1,500;1,600;1,800&family=Outfit:wght@300;400;600&family=Work+Sans:wght@200;300;500;600;700;800&display=swap');
*{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
body{
    background-color: var(--main-BG);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1px;
}
.container{
    background-color: var(--card-BG);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 15px rgba(0, 0n, 0, .5);
}
.container img{
    max-width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
    display: block;
}
.container .main-image{
    position: relative;
}
.container .main-image div{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    background-color: hsl(178, 100%, 50%);;
    top: 0;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease 0.5s;
}
.container .main-image div:hover{
    opacity: 1;
    cursor: pointer;
}
@media (min-width: 375px){
    .container {
        width: 350px;
    }
}
.container h1{
    color: var(--White);
}
.container h1:hover{
    color: var(--Cyan);
    cursor: pointer;
}
.container p{
    color: var(--Soft-blue);
    margin-bottom: 1rem;
}
.container .time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .one{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .one p{
    color: var(--Cyan);
    font-weight: 400;
}
.container .two{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
hr{
    border: none;
    background-color: var(--line);
    height: 1px;
    margin-bottom: 1.25rem;
}
.container .last{
    display: flex;
    justify-content: space-between;
}
.container .last img{
    width: 50px;
    border-radius: 50%;
    border: 2px solid var(--White);
  
}
.container .last p{
    margin-left: -90px;
}
.container .last p span{
    color: var(--White);
}
.container .last p span:hover{
    color: var(--Cyan);
    cursor: pointer;
}